*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

#main_canvas_container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#AirplaneScrew {
  position: absolute;
}

#Menu {
  position: absolute;
  left: 0px;
  top: 0px;
}

#LampLight {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  top: 15%;
  left: 32%;
}

.MenuButton {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  cursor: pointer;
}

.AnchorButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
}

.BGAnimation {
  background: url(assets/play_circle.svg) no-repeat center/cover;
}

.BGLamp {
  background: url(assets/lamp.svg) no-repeat center/cover;
}


.BGLampActive {
  background: url(assets/lamp-active.svg) no-repeat center/cover;
}

.BGLampActiveRed {
  background: url(assets/lamp-active-red.svg) no-repeat center/cover;
}

.BGLampActiveBlue {
  background: url(assets/lamp-active-blue.svg) no-repeat center/cover;
}


.BGLampDisable {
  background: url(assets/lamp-disable.svg) no-repeat center/cover;
}

.BGLampDisableRed {
  background: url(assets/lamp-disable-red.svg) no-repeat center/cover;
}

.BGLampDisableBlue {
  background: url(assets/lamp-disable-blue.svg) no-repeat center/cover;
}

.BGRed {
  background-color: red;
}

.BGBlue {
  background-color: blue;
}

.InfoBG {
  background: url(assets/info.svg) no-repeat center/cover;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#InfoBlock {
  position: absolute;
  right: 10px;
  bottom: 60px;
  width: 300px;
  border: 2px double gray;
  border-radius: 5px;
}

#InfoBlock p {
  margin: 5px;
  text-align: justify;
  font-size: 18px;
}

A {
  color: #0068a5; 
}
A:visited {
  color: #0068a5; 
}

A:active {
  color: #0068a5;
}

.Absolute {
  position: absolute;
}